body .container .row .col-md-12 .card {
    background-color: transparent;
    border: none;
  }
  
  body .container .row .col-md-12 .card .card-body {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  body .container .row .col-md-12 .card .card-body .row .col-md-4 a .card {
    background-color: white;
    -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15) !important;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15) !important;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  body .container .row .col-md-12 .card .card-body .row .col-md-4 a .card:hover {
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2) !important;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2) !important;
  }
  
  body .container .row .col-md-12 .input-group input {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border-color: #ececec;
  }
  
  body .container .row .col-md-12 .input-group input:focus {
    border-color: #ececec;
  }
  
  body .container .row .col-md-12 .input-group .input-group-prepend span {
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: transparent;
    border-color: #ececec;
  }
  
  body .container .row .col-md-10 .input-group input {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    border-right: none;
    border-color: #ececec;
  }
  
  body .container .row .col-md-10 .input-group input:focus {
    border-color: #ececec;
  }
  
  body .container .row .col-md-10 .input-group .input-group-prepend span {
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-color: transparent;
    border-color: #ececec;
  }
  
  body .table-container {
    overflow-x: auto;
    padding: 0px 40px;
  }
  
  body .table-container .table {
    background-color: white;
  }
  
  body .table-container .table thead tr th {
    border-bottom: none !important;
    font-size: 15px;
  }
  /*# sourceMappingURL=style.css.map */