{% extends 'partials/base.html' %}
{% block title %}Item page{% endblock %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

{% include 'partials/topnav.html' %}

<!-- Search -->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search item" aria-label="Search item" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                      <img src="{% static 'dashboard/media/search.svg' %}" alt="">
                  </span>
                </div>
              </div> -->
              <form class="input-group form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="q" type="search" id="item" placeholder="Search Item" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModal">
                Add Item
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                          {% csrf_token %} 
                          {{ form|crispy }}
                          <input class="btn btn-success btn-block" type="submit" value="Add Item">
                        </form>
                    </div>
                  
                  </div>
                </div>
              </div>
        </div>
        
    </div>
    {% for message in messages %}
              {% if message %}
                <div class="alert alert-{{ message.tags }} mt-3">
                  {{ message }}
                </div>
              {% endif %}
     {% endfor %}
</div>
<!-- End Search -->

<!-- Tables -->
<div class="container-fluid table-container">
    <table class="table   table-hover mt-5">
        <thead class="bg-info text-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Barcode</th>
            <th scope="col">Type</th>
            <th scope="col">Model</th>
            <th scope="col">Manifacturer</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Purchase year</th>
            <th scope="col">Condition</th>
            <th scope="col">Color</th>
            <th scope="col">Status</th>
            <th scope="col">Create Date</th>
            <th scope="col">Update Date</th>
            <th scope="col">Update By</th>
            <th scope="col">Create By</th>
            <th scope="col">Config</th>
            <th scope="col">Notes</th>
            <th colspan="2" scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.inventory_id }}</td>
            <td>{{ item.type_id }}</td>
            <td>{{ item.model }}</td> 
            <td>{{ item.manufacturer_id }}</td>
            <td>{{ item.serial_number }}</td>
            <td>{{ item.purchase_year }}</td> 
            <td>{{ item.condition }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.create_date }}</td>
            <td>{{ item.update_date }}</td>
            <td>{{ item.create_by }}</td>
            <td>{{ item.update_by }}</td>
            <td>{{ item.config }}</td>
            <td>{{ item.notes }}</td>
            <td>
                <a class="btn btn-info btn-sm" href="">Checkout</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="">Return</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>  
</div>
<!-- End Tables -->



{% endblock %}
