{% extends 'partials/base.html' %}
{% block title %}Order page{% endblock %}


{% block content %}

{% include 'partials/topnav.html' %}


<!-- Search -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search order" aria-label="Search order" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                      <img src="images/icons/search.svg" alt="">
                  </span>
                </div>
              </div> -->
              <form class="input-group form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search Order" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>
            </div>
        
    </div>
  
</div>
<!-- End Search -->



<!-- Tables -->
<div class="container-fluid table-container">
    <table class="table table-hover mt-5">
        <thead class="bg-info text-light">
          <tr>
            <th scope="col">ID</th>
            <!-- <th scope="col">External ID</th> -->
            <th scope="col">Patron</th>
            <th scope="col">Email</th>
            <th scope="col">Item</th>
            <th scope="col">Item barcode</th>
            <th scope="col">Date</th>

          </tr>
        </thead>
        <tbody>
          {% for orders in orders %}
          <tr>
            <th scope="row">{{ orders.id }}</th>
            <!-- <td>2002203</td> -->
            <td>{{ orders.user_id }}</td>
            <td>{{ orders.user_id.email }}</td>
            <td>{{ orders.item_id }}</td>            
            <td>{{ orders.item_id.inventory_id }}</td>            
            <td>{{ orders.created_date }}</td>            
          </tr>
        {% endfor %}
        </tbody>
      </table>  
</div>
<!-- End Tables -->


{% endblock %}
