{% extends 'partials/base.html' %}
{% block title %}Patron page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/topnav.html' %}

<!-- Search -->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <!-- <div class="input-group mb-3">
                <input type="search" name="q" class="form-control" placeholder="Search patron" aria-label="Search patron" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                      <img src="images/icons/search.svg" alt="">
                  </span>
                </div>
              </div> -->
              <form class="input-group form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search Patron" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModal">
                Add patron
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Patron</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">

                          {% csrf_token %} 
                          {{ form|crispy }}
                      <input class="btn btn-success btn-block " type="submit" value="Add Patron">
                          
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
    </div>
  
</div>
<!-- End Search -->



<!-- Tables -->
<div class="container-fluid table-container">
    <table class="table table-hover mt-5">
        <thead class="bg-info text-light">
          <tr>
            <th scope="col">ID</th>
            <!-- <th scope="col">External ID</th> -->
            <th scope="col">User Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Position</th>
            <th scope="col">Type</th>
            <th scope="col">Profile</th>
            <th colspan="2" scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers %}
          <tr>
            <th scope="row">{{ worker.id }}</th>
            <!-- <td>2002203</td> -->
            <td>{{ worker.patron.staff }}</td>
            <td>{{ worker.patron.first_name}}</td> 
            <td>{{ worker.patron.last_name }}</td>
            <td>{{ worker.email }}</td>
            <td>{{ worker.patron.department }}</td> 
            <td>{{ worker.patron.position_id }}</td>
            <td>{{ worker.patron.type }}</td>
            <td>{{ worker.patron.profile }}</td>
            <td>
                <a class="btn btn-info btn-sm" href="{% url 'dashboard-patron-detail' worker.id %}">View</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="{% url 'dashboard-patron-delete' worker.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>  
</div>
<!-- End Tables -->

{% endblock %}
