{% extends 'partials/base.html' %}
{% block title %}Delete Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Delete Patron</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Are You sure you wand to delete?</h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <a class="btn btn-secondary" href="{% url 'dashboard-patron' %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}