{% extends 'partials/base.html' %}
{% block title %} Password Reset Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            {% for message in messages %}
            {% if message %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h3>Password Reset Page</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-info" type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}