{% extends 'partials/base.html' %}
{% block title %} Password Reset Done Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Password Reset Done Page</h3>
                <hr>
                <div class="alert alert-success">
                    <h4>A mail has been sent to the email addres you provided. It has instructions you need to follow reset your password</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
