{% extends 'partials/base.html' %}
{% block title %} Password Reset Complete Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Password Reset Complete Page</h3>
                <hr>
                <div class="alert alert-success">
                    <h4>Now You can log in with your new password</h4>
                </div>
                <a href="{% url 'user-login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
